@model ToDoList.classes.Imoveis;
@{
    ViewData["Title"] = "Imoveis";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        
        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Id
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.id)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Identificação
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.identificação, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.identificação)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Numero
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.numero)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Bairro
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.bairro)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Cidade
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.cidade)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 text-left">
            <div class="editor-label">
                Estado
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.estado)</small>
            </div>
        </div>

        <div class="d-block text-left">
            <button type="submit" class="btn btn-success d-block my-4 text-left">Adicionar</button>

            @Html.ActionLink("Voltar", "Index", null, null, new { @class = "mt-2 d-block" })
        </div>
    
    }