@model ToDoList.classes.ContaLuz;

@{
    ViewData["Title"] = "Contas de Luz";
}

<h2 class="text-center">Contas de Luz</h2>

<div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
    <div class="editor-label">
        Data Leitura
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.dataLeitura, new { htmlAttributes = new { @class = "form-control", @disabled = "true"} })
        <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.dataLeitura)</small>
    </div>
</div>

<div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
    <div class="editor-label">
        KW Gasto
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.kwGasto, new { htmlAttributes = new { @class = "form-control", @disabled = "true"} })
        <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.kwGasto)</small>
    </div>
</div>

<div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
    <div class="editor-label">
        Valor a pagar
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.valorAPagar, new { htmlAttributes = new { @class = "form-control", @disabled = "true"} })
        <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.valorAPagar)</small>
    </div>
</div>

<div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
    <div class="editor-label">
        Data Pagamento
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.dataPagamento, new { htmlAttributes = new { @class = "form-control", @disabled = "true"} })
        <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.dataPagamento)</small>
    </div>
</div>

<div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
    <div class="editor-label">
        Média de Consumo
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.mediaConsumo, new { htmlAttributes = new { @class = "form-control", @disabled = "true"} })
        <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.mediaConsumo)</small>
    </div>
</div>

<div class="d-block text-center">
    @Html.ActionLink("Voltar para listagem", "Index", null, null, new { @class = "mt-4 btn btn-info" })
</div>